<mat-accordion>
  <mat-expansion-panel hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title> Dodawanie produktu </mat-panel-title>
      <mat-panel-description>
        Formularz dodawania produktów
      </mat-panel-description>
    </mat-expansion-panel-header>
    <app-add-product-form></app-add-product-form>
  </mat-expansion-panel>
  <mat-expansion-panel hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title> Usuwanie produktów </mat-panel-title>
      <mat-panel-description>
        Formularz usuwania produktów
      </mat-panel-description>
    </mat-expansion-panel-header>
    <app-delete-product-form></app-delete-product-form>
  </mat-expansion-panel>
</mat-accordion>
